body{
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    margin: 0 auto;
    width: 400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;   
}
h1{
    width: fit-content;
    

}
.wrapper{
    padding:30px;
    background-color: rgb(222, 220, 220);
    display:block;
    
}
.postFeed{
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    width: 400px;
    margin-bottom:40px;
}
.headerPost{
    display: inline;
}
.titlePost{
    float:left;
    padding-left:10px;
    font-size: 14px;
    font-weight: bold;

}
.datePost{
    float:right;
    padding-right:10px;
    color:rgb(215, 212, 212);
    font-size: 12px;
}
.bodyPost img {
    width: 400px;
    
}
.footerPost{
    padding: 10px;
    font-size: 12px;

}